[submodule "docs/wiki"]
	path = docs/wiki
	url = ssh://git@github.com/ARDFEvent/ARDFEvent.wiki.git
[submodule "plugins/robis"]
	path = plugins/robis
	url = ssh://git@github.com/ARDFEvent/robisplugin
[submodule "plugins/stages"]
	path = plugins/stages
	url = ssh://git@github.com/ARDFEvent/stagesplugin