pgpy==0.6.0
pyjwt==2.10.1
escpos==2.0.0
pyserial==3.5
PySide6==6.10.1
python_dateutil==2.9.0.post0
requests==2.32.5
sportident==1.2.8
SQLAlchemy==2.0.45
PyYAML==6.0.3
Jinja2==3.1.6
pyramid==2.0.2
dulwich==0.25.1
standard-imghdr==3.13.0
maturin==1.11.5
qtawesome==1.4.0
pytest
pytest-qt
# THERE IS NO GDAL, INSTALL IT BY YOUR VERSION OF GDAL ON THIS SYSTEM OR USE BUILD.SH